#sec input {
  outline: none;
}

html, body {
  scroll-behavior: smooth;
}


/* Hide the cancel button in a search input */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

/* Hide the clear button in a search input for Firefox */
input[type="search"]::-webkit-search-clear-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

@media (min-width: 425px) and (max-width: 440px) {
  .tbtn{
    right: 1.7vw;
  }
}


#drop button{
    outline: none;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.bords{
    border-top: 4px solid hsl(0, 0%, 98%);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-clear-button {
  -webkit-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  text-decoration: none;
}

/* For WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
  padding: 5px;
}

::-webkit-scrollbar-thumb {
  background-color:  grey;
}

::-webkit-scrollbar-track {
  background: transparent; /* No background */
}

/* For Firefox */
* {
  scrollbar-color: gray transparent; /* Green thumb, no background */
  scrollbar-width: thin;
}

